.title {
  color: white;
  background-color: teal;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}
.button {
  padding: 5px 15px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
